.myInput {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  margin: 0 auto;

  input {
    width: 100%;
    height: 100%;
    padding-left: 1rem ;

    background-color: inherit;

    outline: none;
    border: 2px solid #371A45;
    border-radius: 0.6rem;

    &:focus {
      border: 2px solid #980AD0;
    }
  }
}

@media screen and (max-width: 768px) {
  .myInput {
    padding: 3px;

    input {
      border-radius: 0.4rem;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  
}