@import '../../scss/colors';

.wrapperToDoList {

  form {
    margin-top: 2rem;
    display: flex;

    .wrapperInputs {
      width: 80%;
      }
    }

    .wrapperButton {
      width: 18%;
      margin-left: 2%;
    }


  .wrapperPostList {
    width: 100%;
    max-height: 100%;
    margin-top: 2rem;
  }

  .emptyList {
    display: flex;
    margin-top: 50px;
    justify-content: center;

    h2 {
      color: $color-main-default;
      font-size: 2rem;
    }
    img {

    }
  }

}