@import "../../scss/colors";

.counterWrapper{
  padding: 0.6rem 1rem;
  color: $color-main-default;
  border-radius: 10px;
  border: 1px solid $color-main-default ;

  h2.title, h2.counterWindow{
    width: 100%;
    text-align: center;
  }


  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
}