@import "../../scss/colors";

.Select {
  width: 100%;
  height: 100%;
  padding-left: 0.8rem;
  border-radius: 0.6rem;
  border: 2px solid  $color-main-default;

  &:focus {
    border-radius: 0.6rem;
    border: 2px solid  $color-main-secondary;
    outline: none;
  }

  option {
    color: inherit;
    &:hover {
      color: $color-main-secondary;
    }
  }
}