@import "../../scss/colors";

.header {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  box-shadow: 0 1px 15px $color-main-default;
  padding: 0 30px;
  display: flex;
  justify-content: space-between ;

  & a {
    text-decoration: none;
    color: $color-main-default;
  }
  .header__logo {
    display: flex;
    align-items: center;
    .header__title {
      font-size: 48px;
    }
  }
  .nav__wrapper {
    display: flex;
    align-items: center;
    .nav-list {
      font-size: 1rem;
      list-style: none;
      display: flex;

      .nav-list__li{
        display: inherit;
        transition: ease-in-out 0.12s;
        &:hover {
          transform: translateY(-1px);
        }

        .nav-list__link {
          list-style-type: none;
          text-decoration: none;
          padding: 0.3rem;
          margin: 0.3rem;
          color: $color-main-default;
          border-radius: 10px;
          border: 1px solid white;
          transition: ease-in-out 0.13s;

          &__active {
            color: $color-main-secondary;
            border: 1px solid $color-main-secondary;
          }
        }
      }
    }
  }
}



