.header {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  box-shadow: 0 1px 15px #371A45;
  padding: 0 30px;
  display: flex;
  justify-content: space-between ;

  & a {

    //list-style-type: none;
    text-decoration: none;
    color: #371A45;
  }
  .header__logo {
    display: flex;
    align-items: center;
    .header__title {
      font-size: 48px;
    }
  }
  .nav__wrapper {
    display: flex;
    align-items: center;
    .nav-list {
      font-size: 20px;
      list-style: none;
      display: flex;

      .nav-list__li{
        display: inherit;
        padding: 10px;
        transition: ease-in-out 0.12s;
        &:hover {
          transform: translateY(-1px);
        }

        .nav-list__link {
          list-style-type: none;
          text-decoration: none;
          padding: 10px;
          margin: 10px;
          color: #371A45;
          border-radius: 10px;
          border: 1px solid white;
          transition: ease-in-out 0.13s;

          &__active {
            color: #980AD0;
            border: 1px solid #980AD0;
          }
        }
      }
    }
  }
}



